<!DOCTYPE html>
<html>
  <head>
    <META charset='utf-8'>
    <title>회원가입 (admin page)</title>
  </head>
  <body>
    <form action='../register' method='post'>
      <p>아이디: <input type="text" id="id" name="id"></p>
      <p>비밀번호: <input type="password" id="password" name="password"></p>
      <p>이름: <input type="text" id="username" name="username"></p>
      <p>이메일: <input type="email" id="email" name="email"></p>
      <input type="submit" value="제출" onclick="alert('제출 완료!')" />
    </form>
  </body>
</html>